<div class="column-layout group">
  <igx-card class="card">
    <igx-card-media height="200px" class="media-content">
      <img src="/assets/NotUser.png" alt="" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Title goes here...
      </h3>
      <h5 igxCardHeaderSubtitle>
        Subtitle goes here...
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="ig-typography__body-2 text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus lectus ut urna blandit aliquam. Fusce ac est mauris. Etiam vulputate ante vel quam molestie, at finibus risus condimentum. Proin lobortis faucibus tortor, quis condimentum purus. Nulla quis odio pulvinar, rutrum est vitae, scelerisque orci.

      </p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" type="button" class="button">
          Button
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxIconButton="flat">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxIconButton="flat">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxIconButton="flat">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card class="card">
    <igx-card-media height="200px" class="media-content">
      <img src="/assets/Simple.png" alt="" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Title goes here...
      </h3>
      <h5 igxCardHeaderSubtitle>
        Subtitle goes here...
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="ig-typography__body-2 text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus lectus ut urna blandit aliquam. Fusce ac est mauris. Etiam vulputate ante vel quam molestie, at finibus risus condimentum. Proin lobortis faucibus tortor, quis condimentum purus. Nulla quis odio pulvinar, rutrum est vitae, scelerisque orci.

      </p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" type="button" class="button">
          Button
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxIconButton="flat">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxIconButton="flat">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxIconButton="flat">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card class="card">
    <igx-card-media height="200px" class="media-content">
      <img src="/assets/LessMore.png" alt="" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Title goes here...
      </h3>
      <h5 igxCardHeaderSubtitle>
        Subtitle goes here...
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="ig-typography__body-2 text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus lectus ut urna blandit aliquam. Fusce ac est mauris. Etiam vulputate ante vel quam molestie, at finibus risus condimentum. Proin lobortis faucibus tortor, quis condimentum purus. Nulla quis odio pulvinar, rutrum est vitae, scelerisque orci.

      </p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" type="button" class="button">
          Button
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxIconButton="flat">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxIconButton="flat">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxIconButton="flat">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
</div>
